USE [master]
GO
/****** Object:  Database [ITJV_DB]    Script Date: 17-Sep-26 7:09:07 PM ******/
CREATE DATABASE [ITJV_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITJV_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ITJV_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITJV_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ITJV_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITJV_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITJV_DB]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[IdAlumno] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [nvarchar](20) NOT NULL,
	[CURP] [nvarchar](18) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ApellidoPaterno] [nvarchar](50) NOT NULL,
	[ApellidoMaterno] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NOT NULL,
	[IdGrupo] [int] NOT NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CURP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsistenciaClase]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciaClase](
	[IdAsistenciaClase] [int] IDENTITY(1,1) NOT NULL,
	[IdAlumno] [int] NOT NULL,
	[IdCarga] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdEstatus] [tinyint] NOT NULL,
	[MinutosRetardo] [smallint] NULL,
	[Observaciones] [nvarchar](200) NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsistenciaClase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AsistenciaClase] UNIQUE NONCLUSTERED 
(
	[IdAlumno] ASC,
	[IdCarga] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsistenciaGeneral]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciaGeneral](
	[IdAsistenciaGeneral] [int] IDENTITY(1,1) NOT NULL,
	[IdAlumno] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdEstatus] [tinyint] NOT NULL,
	[HoraRegistro] [time](0) NULL,
	[MinutosRetardo] [smallint] NULL,
	[RegistradoPor] [nvarchar](100) NULL,
	[Observaciones] [nvarchar](200) NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsistenciaGeneral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AsistenciaGeneral] UNIQUE NONCLUSTERED 
(
	[IdAlumno] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calificaciones]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificaciones](
	[IdCalificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdAlumno] [int] NOT NULL,
	[IdCriterio] [int] NOT NULL,
	[ValorObtenido] [decimal](5, 2) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCalificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CargasAcademicas]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargasAcademicas](
	[IdCarga] [int] IDENTITY(1,1) NOT NULL,
	[IdGrupo] [int] NOT NULL,
	[IdMateria] [int] NOT NULL,
	[IdDocente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CriteriosEvaluacion]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriteriosEvaluacion](
	[IdCriterio] [int] IDENTITY(1,1) NOT NULL,
	[IdCarga] [int] NOT NULL,
	[Parcial] [int] NOT NULL,
	[Concepto] [nvarchar](50) NOT NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCriterio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docentes]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docentes](
	[IdDocente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ApellidoPaterno] [nvarchar](50) NOT NULL,
	[ApellidoMaterno] [nvarchar](50) NULL,
	[RFC] [nvarchar](13) NOT NULL,
	[CedulaProfesional] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Telefono] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RFC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[IdEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[ClaveOficial] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstatusAsistencia]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstatusAsistencia](
	[IdEstatus] [tinyint] IDENTITY(1,1) NOT NULL,
	[Clave] [varchar](20) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupos]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[IdGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Turno] [nvarchar](20) NOT NULL,
	[SemestreActual] [int] NOT NULL,
	[CicloEscolar] [nvarchar](20) NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[IdTutor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kardex]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kardex](
	[IdKardex] [int] IDENTITY(1,1) NOT NULL,
	[IdAlumno] [int] NOT NULL,
	[IdMateria] [int] NOT NULL,
	[CalificacionFinal] [decimal](5, 2) NULL,
	[TipoEvaluacion] [nvarchar](20) NULL,
	[CicloEscolar] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKardex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 17-Sep-26 7:09:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Clave] [nvarchar](20) NOT NULL,
	[Semestre] [int] NOT NULL,
	[IdEspecialidad] [int] NULL,
	[HorasSemana] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AsistenciaClase_Carga]    Script Date: 17-Sep-26 7:09:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_AsistenciaClase_Carga] ON [dbo].[AsistenciaClase]
(
	[IdCarga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AsistenciaClase_Estatus]    Script Date: 17-Sep-26 7:09:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_AsistenciaClase_Estatus] ON [dbo].[AsistenciaClase]
(
	[IdEstatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AsistenciaClase_Fecha]    Script Date: 17-Sep-26 7:09:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_AsistenciaClase_Fecha] ON [dbo].[AsistenciaClase]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AsistenciaGeneral_Estatus]    Script Date: 17-Sep-26 7:09:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_AsistenciaGeneral_Estatus] ON [dbo].[AsistenciaGeneral]
(
	[IdEstatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AsistenciaGeneral_Fecha]    Script Date: 17-Sep-26 7:09:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_AsistenciaGeneral_Fecha] ON [dbo].[AsistenciaGeneral]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alumnos] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[AsistenciaClase] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[AsistenciaGeneral] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Calificaciones] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Kardex] ADD  DEFAULT ('Ordinario') FOR [TipoEvaluacion]
GO
ALTER TABLE [dbo].[Materias] ADD  DEFAULT ((4)) FOR [HorasSemana]
GO
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD  CONSTRAINT [FK_Alumnos_Grupos] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupos] ([IdGrupo])
GO
ALTER TABLE [dbo].[Alumnos] CHECK CONSTRAINT [FK_Alumnos_Grupos]
GO
ALTER TABLE [dbo].[AsistenciaClase]  WITH CHECK ADD FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumnos] ([IdAlumno])
GO
ALTER TABLE [dbo].[AsistenciaClase]  WITH CHECK ADD FOREIGN KEY([IdCarga])
REFERENCES [dbo].[CargasAcademicas] ([IdCarga])
GO
ALTER TABLE [dbo].[AsistenciaClase]  WITH CHECK ADD FOREIGN KEY([IdEstatus])
REFERENCES [dbo].[EstatusAsistencia] ([IdEstatus])
GO
ALTER TABLE [dbo].[AsistenciaGeneral]  WITH CHECK ADD FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumnos] ([IdAlumno])
GO
ALTER TABLE [dbo].[AsistenciaGeneral]  WITH CHECK ADD FOREIGN KEY([IdEstatus])
REFERENCES [dbo].[EstatusAsistencia] ([IdEstatus])
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Alumnos] FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumnos] ([IdAlumno])
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Alumnos]
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Criterios] FOREIGN KEY([IdCriterio])
REFERENCES [dbo].[CriteriosEvaluacion] ([IdCriterio])
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Criterios]
GO
ALTER TABLE [dbo].[CargasAcademicas]  WITH CHECK ADD  CONSTRAINT [FK_Carga_Docente] FOREIGN KEY([IdDocente])
REFERENCES [dbo].[Docentes] ([IdDocente])
GO
ALTER TABLE [dbo].[CargasAcademicas] CHECK CONSTRAINT [FK_Carga_Docente]
GO
ALTER TABLE [dbo].[CargasAcademicas]  WITH CHECK ADD  CONSTRAINT [FK_Carga_Grupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupos] ([IdGrupo])
GO
ALTER TABLE [dbo].[CargasAcademicas] CHECK CONSTRAINT [FK_Carga_Grupo]
GO
ALTER TABLE [dbo].[CargasAcademicas]  WITH CHECK ADD  CONSTRAINT [FK_Carga_Materia] FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materias] ([IdMateria])
GO
ALTER TABLE [dbo].[CargasAcademicas] CHECK CONSTRAINT [FK_Carga_Materia]
GO
ALTER TABLE [dbo].[CriteriosEvaluacion]  WITH CHECK ADD  CONSTRAINT [FK_Criterios_Cargas] FOREIGN KEY([IdCarga])
REFERENCES [dbo].[CargasAcademicas] ([IdCarga])
GO
ALTER TABLE [dbo].[CriteriosEvaluacion] CHECK CONSTRAINT [FK_Criterios_Cargas]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [FK_Grupos_Docentes] FOREIGN KEY([IdTutor])
REFERENCES [dbo].[Docentes] ([IdDocente])
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [FK_Grupos_Docentes]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [FK_Grupos_Especialidades] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidades] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [FK_Grupos_Especialidades]
GO
ALTER TABLE [dbo].[Kardex]  WITH CHECK ADD  CONSTRAINT [FK_Kardex_Alumnos] FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumnos] ([IdAlumno])
GO
ALTER TABLE [dbo].[Kardex] CHECK CONSTRAINT [FK_Kardex_Alumnos]
GO
ALTER TABLE [dbo].[Kardex]  WITH CHECK ADD  CONSTRAINT [FK_Kardex_Materias] FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materias] ([IdMateria])
GO
ALTER TABLE [dbo].[Kardex] CHECK CONSTRAINT [FK_Kardex_Materias]
GO
ALTER TABLE [dbo].[Materias]  WITH CHECK ADD  CONSTRAINT [FK_Materias_Especialidades] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidades] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[Materias] CHECK CONSTRAINT [FK_Materias_Especialidades]
GO
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD CHECK  (([Estado]='Egresado' OR [Estado]='Baja Temporal' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[CriteriosEvaluacion]  WITH CHECK ADD CHECK  (([Parcial]=(3) OR [Parcial]=(2) OR [Parcial]=(1)))
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD CHECK  (([Turno]='Nocturno' OR [Turno]='Vespertino' OR [Turno]='Matutino'))
GO
ALTER TABLE [dbo].[Kardex]  WITH CHECK ADD CHECK  (([TipoEvaluacion]='Título' OR [TipoEvaluacion]='Extraordinario' OR [TipoEvaluacion]='Ordinario'))
GO
ALTER TABLE [dbo].[Materias]  WITH CHECK ADD CHECK  (([Semestre]>=(1) AND [Semestre]<=(6)))
GO
USE [master]
GO
